{% extends 'base.html.twig' %}

{% block title %}GameWeek index{% endblock %}

{% block body %}
    <h1>GameWeek index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>WeekNumber</th>
                <th>WeekStartDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game_week in game_weeks %}
            <tr>
                <td>{{ game_week.id }}</td>
                <td>{{ game_week.weekNumber }}</td>
                <td>{{ game_week.weekStartDate ? game_week.weekStartDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('game_week_show', {'id': game_week.id}) }}">show</a>
                    <a href="{{ path('game_week_edit', {'id': game_week.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('game_week_new') }}">Create new</a>
{% endblock %}
